<!DOCTYPE html>
<html>
<head>
  <title>Dave Harris</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="layout">
    <div id="header">
      <h1 id="logo"><a href="./">Dave<span class="light">Harris</span><span class="leaf">&nbsp;</span></a></h1>
       
      <p class="noscreen noprint">
        <em>Skip to <a href="#obsah">content</a>, <a href="#nav">navigation</a>.</em>
      </p>
    </div>
      
    <div id="nav" class="box">
      <ul>
        <li><a href="/">Home<br /><span>For the start...</span></a></li>
        <li><a href="/posts">Blog<br /><span>For nothingness...</span></a></li>
        <li><a href="http://github.com/daveharris">Projects<br /><span>For Fun...</span></a></li>
        <li><a href="http://photos.harris.org.nz">Photography<br /><span>For creativity...</span></a></li>
      </ul>
    </div>

    <div id="container">
      <%= yield %>
    </div>

    <div id="footer">
      <span class="f-left">&copy; 1984-<%= Time.now.year %> Dave Harris</span>
      <span class="f-right">Design: <a href="http://www.davidkohout.cz">David Kohout</a></span>
    </div>
    
  </div>
</body>
</html>
